
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
	transition: all .5s ease;
}
a {
	display: inline-block;
	text-decoration: none;
}
img{
	width: 100%;
	display: inline-block;
}

.cf::before, .cf::after {
	content: '';
	display: table;
}
.cf::after {
	clear: both;
}

.container {
	width: 100%;
	font-size: 18px;
}
::-webkit-input-placeholder {
	background-color: none;
}

/*styling for header section started.......*/

header {
	width: 100%;
	background: url('../image/Group.jpg') center/cover no-repeat ;
	height: auto;
}
.wrapper {
	max-width: 1125px;
	width: 79%;
	margin:0 auto;
}
h1 {
	width: 35%;
	height: auto;
	float: left;
}
header form {
	width: 22%;
	float: right;
	/*vertical-align: bottom;*/
	margin-top: 37px;
}

nav {
	width: 100%;
	background-color: rgba(1,1,1,.4);
	border-bottom: 2px solid #aeaeb2;
	font-family: 'Lato',sans-serif;
}

nav ul{
	width: 100%;
	text-align: right;
	padding: 8px 0px;
}

nav ul li{
	display: inline-block;
	color: #fff;
	border-bottom: 5px solid transparent;
}
nav ul li a{
	font-size: 70%;
	color: #fff;
	border-right: 2px solid #fff;
	padding: 0px 8px;
	font-weight: bold;
	letter-spacing: 1px;
}
nav ul li:first-child a{
	font-size: 100%;
	border-right: none;
}
nav ul li:nth-child(2) a{
	border-left: 2px solid #fff;
	padding-left: 10px;
}
nav ul li:last-child a{
	border-right: none;
}
nav ul li a:hover{
	color: #eb3909;
}

h1 {
	margin: 6px 0px;
}
.close {
	display: none;
}
.search {
	padding: 12px;
	border-radius: 8px;
	background-color: transparent;
	border: .5px groove #fff;
	position: relative;
}
.search input, .search button {
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;

}
.search input[type=search] {
	background-color: transparent !important;
	-webkit-appearance:none;
}

.search button {
	font-size: 15px;
	/*margin-left: 20px;*/
	cursor: pointer;
	position: absolute;
	right: 5px;
    top: 10px;
}

/*styling for banner is started..*/
main {
	width: 100%;

}
.banner {
	width: 100%;
	background: url('../image/Ocean-2018-Mexico-1700-300.jpg') center/cover no-repeat; 
	padding: 97px 0px 87px; 
}
h2 {
	font-size: 200%;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	color: #fff;
	margin-bottom: 28px;
}
.banner p {
	color: #B2BCD7;
	font-size: 90%;
	letter-spacing: .5px;
	
}
.banner p {
	margin-bottom: 15px;
}
.banner p span:first-child:after {
	content: '';
    width: 2px;
    height: 12px;
    background-color: #B2BCD7;
    margin: 0px 15px;
    display: inline-block;
}

.banner p a {
	width: 20%;
	background-color: #fff;
	color: #52679e;
	padding: 12px 15px;
	border: 2px solid #fff;
	position: relative;
}
.banner p a:hover {
	background-color: transparent;
	color: #fff;
}
.banner p a i {
	/*display: inline-block;*/
	position: absolute;
	right: 10px;
	top: 10px;

}
.banner p:last-child span {
	font-size: 80%;
    font-weight: 800;
    color: #fff;
    margin-left: 5%;
}

/*styling for main section started.......*/

.main-section {
	width: 100%;
}

aside {
	width: 33%;
	padding-top: 43px;
	float: left;
}
.section-wrapper {
	width: 67%;
	float: right;
}

/*styling for aside section started............*/

aside ul {
	width: 100%;
}
aside ul li {
	width: 100%;
}
aside ul li a {
	text-decoration: underline;
	font-size: 95%;
	color: #4a7897;
	padding: 12px 0px 8px;
}
aside ul li a:hover {
	color: red;
}
 aside ul li.social-info {
 	margin-top: 30px;
 }
li.social-info a {
	font-size: 110%;
	margin: 0px 5% 0px 2%;
	padding: 6px 8px;
	border-radius: 6px;
}
li.social-info a:nth-child(1){
	color: #1d487d;
}
li.social-info a:nth-child(1):hover{
	color: #fff;
	background-color: #1d487d 
}

li.social-info a:nth-child(2){
	color: #52adf1;
}
li.social-info a:nth-child(2):hover {
	color:#fff ;
	background-color:#52adf1; 
}

li.social-info a:nth-child(3){
	color: #fb0200;
}
li.social-info a:nth-child(3):hover {
	color: #fff;
	background-color: #fb0200;
}

li.social-info a:nth-child(4){
	color: #0076b5;
}
li.social-info a:nth-child(4):hover{
	color: #fff;
	background-color:#0076b5; 
}
/*aside ul li:last-child {
	margin-bottom: 15px;
}*/

.main-section .seperator {
	width: 30px;
	height: 5px;
	background-color: #4a7897;
	margin-top: 30px;
}
aside p {
	margin-top: 25px;
	margin-bottom: 15px;
	color: #494b4e;
	font-size: 110%;
}
.section-overview  .videoPlay{
	width: 100%;
	position: relative;
}

.videoPlay .btn2 {
	width: 22%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.videoPlay .btn2:hover {
	opacity: 0.8;
}


.section-speaker ul {
	width: 100%;
}

.section-speaker ul li{
	width: 25%;
	height: auto;
	float: left;
}
.section-speaker ul li img {
	width: 85%;
	height: auto;
	border-radius: 50%;
}